* {
  box-sizing: border-box; }
/*Header Styles*/
header {
  background-image: url("../assets/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 520px;
  padding-top: 3%; }

.logoBox img {
  float: left;
  margin-left: 15%; }

.aboutText {
  margin-right: 13%;
  float: right; }

hgroup h1 {
  color: white;
  font-size: 8em;
  margin: 7% 0 0 0;
  font-family: 'Open Sans', sans-serif; }

hgroup h5 {
  font-size: 1em;
  margin-top: 0; }

/*main style*/
main {
  width: 100%;
  height: 1010px;
  border-bottom: 1px solid gray; }
