@import'desktop';
@media screen and (min-width: 100px) and (max-width: 1000px) {

  header{
    height: 27em;
  }
  .logoBox h4{
    display:none;
  }

  .logoBox {
    width:100%;
    margin-left:5%;
  }

 .logoBox img{
   float: none;
    margin: 3% 0 0 41%;
    width: 9%;
 }
.aboutBox{
  width:100%
  }
 .aboutText{
   float: none;
  margin: 3% 0 0 34%;
  font-size: 2em;
 }
  hgroup h1{
    font-size: 5em;
    margin-top: 5%;
  }

  hgroup h5{
    font-size: 2.3em;
  }
 main{
   height: 220em;
   padding-top:2em;
 }
 main article{
   width:100%;
   float:none;
   margin: 5% 0 0 0;
 }
.articleTitle{
  font-size:5.5em;
}
 aside{
   float:none;
   width:100%;
 }

 .postNav{
   float:right;
 }

 footer{
   float:none;
 }
}
