// Variables and mixins
@mixin paragraphColor{
  color:#5E686F;
  font-size: 1.5em;
}

@mixin boxDesign{
  .outerBox{
    height:100%;
    float:left;
    margin-right:1.1%;
    color:white;
    text-align: center;
    font-size: 1.2em;

      .innerBox{
        width: 2em;
        height:100%;
        float:left;
        color:white;
        text-align: center;
        font-size: 1.2em;
      }
      .boxText{
        margin-top:4%
      }
  }
}

  //Header Style
  * {
    box-sizing: border-box;
   }

header {
  background-image: url("../assets/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:670px;
  padding-top: 1%;
 }

.logoBox img {
  float: left;
  margin-left: 20%;
  width: 7%;
 }

 .aboutText{
   margin-right: 25%;
   float:right;
 }

hgroup h1{
  color:white;
  font-size: 9em;
  margin: 11.5% 0 0.5% 0;
  font-family: 'Open Sans', sans-serif;
}

hgroup h5{
  font-size:1.3em;
  margin-top:0;
}

// Main Style
main{
  width:100%;
  height: 1292px;
  border-bottom: 1px solid gray;
}

main article{
  float: left;
  margin:5% 0 0 12.2%;
  width: 47.5%;
}

// Article Area style
article .articleTitle{
  font-size: 4.4em;
  font-weight: bolder;
  color:#083452;
  font-family: 'Open Sans', sans-serif;
}

.smallAvatar{
  height:30px;
}

.postInfo{
  margin-top:2%
}

.userName{
  color:#4684BD;
  font-size:1.2em;
  margin-left:1%;
}

.postDate{
  color:#D1D9DF;
  font-size:1.2em;
}

.postDate span{
  text-decoration: underline;
}

.paragraphOne{
  @include paragraphColor;
  margin-top:6%
}

.paragraphOne>p{
  margin-top:6%;
}

.impactText{
  border-left:1px solid gray;
  font-size: 2.5em;
  margin-top: 4%;
  height: 2em;
  padding-top:2%;
}

.impactText span{
  color:#106DB3;
  margin-left:2.9%
}

.paragraphTwo{
  @include paragraphColor;
  margin-top:5%;
}

.paragraphTwo a{
  text-decoration: underline;
}

.paragraphTwo>p{
  margin-top: 4%;
}

.socialMediaButtons{;
  height:40px;
  width:100%;
  margin: 3% 0 0 0.1%;
  float: left;
  @include boxDesign;

}

.comments{
  width: 25.8%;
  background:#A3B3BF;

  .innerBox{
    padding-top:2.5%;
    background:#5E686F;
  }
}

.upload{
  width:22.1%;
  background:#A3B3BF;

  .innerBox{
    padding-top:4%;
    background:#5E686F;
  }
}

.share{
  width: 25.8%;
  background:#106DB3;


  .innerBox{
    padding-top:3.7%;
    background:#083452;
  }
}

//Aside Styles

aside{
  background:black;
  float:right;
}
